body{
    background-color: black;
}
.container {
background-color: black;
    color: white;
    padding: 24px;
    width: 331px;
    height: 456px;
    position: absolute;
    left: 37%;
    top: 7%;
    border: 1px solid white;
}
input{
        padding: 17px;
    width: 289px;
    border-radius: 10px;
    font-size: 29px;
}


   .btn {
    padding: 20px 26px;
    border: none;
    border-radius: 54px;
    margin: 6px;
    font-size: 21px;
    font-weight: bold;
    box-shadow: 3px -1px 15px #706e6e;

}
.orange{
    background-color: orange;
}